
@{
    ViewBag.Title = "Statistique";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<!-- Start Contact -->
<section id="contact-us" class="contact-us section">
    <div class="container">
        <div class="contact-head">
            <div class="row">
                <div class="col-lg-8 col-12">
                    <div class="form-main">
                        <div class="title">
                            <h4>@E_commerce_ASP.Resources.Views.Home.Statistique.Statistics</h4>
                            <h3>@E_commerce_ASP.Resources.Views.Home.Statistique.HereYouCanFindInfoAboutOurSite</h3>
                        </div>
                        <img src="@Url.Action("Chart")" />

                        <div><h6>@E_commerce_ASP.Resources.Views.Home.Statistique.NumberOfRegisteredUsers</h6>@ViewData["nb_Users"]</div>
                        <hr />
                        <div><h6>@E_commerce_ASP.Resources.Views.Home.Statistique.NumberOfListedProducts</h6>@ViewData["nb_Products"]</div>
                        <hr />
                        <div><h6>@E_commerce_ASP.Resources.Views.Home.Statistique.NumberOfRegisteredCompanies</h6>@ViewData["nb_Companies"]</div>
                        <hr />
                        <div><h6>@E_commerce_ASP.Resources.Views.Home.Statistique.NumberOfParticularsOntheSite</h6>@ViewData["nb_Particulars"]</div>
                        <hr />
                        <div> <h6>@E_commerce_ASP.Resources.Views.Home.Statistique.CategoriesWhichOurSiteContains</h6>@ViewData["nb_Categories"]</div>
                        <br />
                        <!--<div><h6>Graph Showing the ownership of Products per User</h6><img src="@Url.Action("Chart")" /></div>-->


                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="single-head">
                        <div class="single-info">
                            <i class="fa fa-phone"></i>
                            <h4 class="title">@E_commerce_ASP.Resources.Views.Home.About.CallusNow:</h4>
                            <ul>
                                <li>+212 0608129323</li>
                                <li>+212 0632493393</li>
                            </ul>
                        </div>
                        <div class="single-info">
                            <i class="fa fa-envelope-open"></i>
                            <h4 class="title">Email:</h4>
                            <ul>
                                <li><a href="mailto:info@yourwebsite.com">Info@ensaf.com</a></li>
                                <li><a href="mailto:info@yourwebsite.com">support@ensaf.com</a></li>
                            </ul>
                        </div>
                        <div class="single-info">
                            <i class="fa fa-location-arrow"></i>
                            <h4 class="title">@E_commerce_ASP.Resources.Views.Home.About.OurAddress:</h4>
                            <ul>
                                <li>Route Sefrou Fes</li>
                                <li>Kingdom of Morocco</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
