@model IEnumerable<E_commerce_ASP.Models.User>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Admin dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Shortcuts</li>
        </ol>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">Products Logs</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="~/Admin/Historique">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">User Details</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="~/Admin/DashBoard">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">View Complaints</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="~/Admin/ListeProbleme">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">Back to E-shop</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="~/Home/Index">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>



        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                All Users
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Proprietaire</th>
                            <th>Email</th>
                            <th>Téléphone</th>
                            <th>Nature</th>
                            <th>Adresse</th>
                            <th>Liste Noir</th>
                            <th>Liste Favoris</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Proprietaire</th>
                            <th>Email</th>
                            <th>Téléphone</th>
                            <th>Nature</th>
                            <th>Adresse</th>
                            <th>Liste Noir</th>
                            <th>Liste Favoris</th>
                        </tr>
                    </tfoot>
                    <tbody>

                        @foreach (var item in Model)
                        {

                            <tr>
                                @if (item.Nature.Equals("Particular"))
                                {
                                    <td>@item.FirstName @item.LastName</td>
                                }
                                else
                                {
                                    <td>@item.CompanyName</td>
                                }
                                <td>@item.Email</td>
                                <td>@item.PhoneNumber</td>
                                <td>@item.Nature</td>
                                <td>@item.Address</td>
                                <td>@item.IsInBlackList</td>
                                <td>@item.IsInFavList</td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
