@model IEnumerable<E_commerce_ASP.Models.Historique>
@{

    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

@{
    E_commerce_ASP.Models.ApplicationDbContext db = new E_commerce_ASP.Models.ApplicationDbContext();


}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Historiques des Produits</h1>

        <div class="card mb-4">

        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Historique
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>id Produit</th>
                            <th>Nom Produit</th>
                            <th>Owner</th>
                            <th>Date</th>
                            <th>Modification</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>id Produit</th>
                            <th>Nom Produit</th>
                            <th>Propretaire</th>
                            <th>Date</th>
                            <th>Modification</th>
                        </tr>
                    </tfoot>
                    <tbody>

                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@item.ProductId</td>
                                @{
                                    E_commerce_ASP.Models.User UserHis = db.RealUsers.Where(u => u.RealId == item.UserId).First();
                                }
                               
                                <td>@item.Pname</td>


                                @if (UserHis.Nature.Equals("Particular"))
                                {
                                    <td>@UserHis.FirstName @UserHis.LastName</td>
                                }
                                else
                                {
                                    <td>@UserHis.CompanyName</td>
                                }

                                <td>@item.Date.ToString()</td>
                                <td>@item.Transaction</td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

