@model E_commerce_ASP.Models.User
@{
    ViewBag.Title = "ListeFavoris";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    E_commerce_ASP.Models.ApplicationDbContext db = new E_commerce_ASP.Models.ApplicationDbContext();

    IEnumerable<E_commerce_ASP.Models.User> UsersL = db.RealUsers.Where(x => x.IsInFavList).ToList();

}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">@E_commerce_ASP.Resources.Views.Admin.Admin.FavouriteList</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">@E_commerce_ASP.Resources.Views.Admin.Admin.Shortcuts</li>
        </ol>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">@E_commerce_ASP.Resources.Views.Admin.Admin.ProductLogs</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="~/Admin/Historique">@E_commerce_ASP.Resources.Views.Admin.Admin.View_Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">@E_commerce_ASP.Resources.Views.Admin.Admin.ViewComplaints</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="~/Admin/ListeProbleme">@E_commerce_ASP.Resources.Views.Admin.Admin.View_Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">@E_commerce_ASP.Resources.Views.Admin.Admin.FavouriteList</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="~/Admin/ListeFavoris">@E_commerce_ASP.Resources.Views.Admin.Admin.View_Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">@E_commerce_ASP.Resources.Views.Admin.Admin.Blacklist</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="~/Admin/ListeNoire">@E_commerce_ASP.Resources.Views.Admin.Admin.View_Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-4">

        </div>

        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-heart me-1"></i>
                        @E_commerce_ASP.Resources.Views.Admin.Admin.AddToFavouriteList
                    </div>
                    <div class="card-body">
                        <!---->

                        @using (Html.BeginForm("AddListeFavoris", "Admin", FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()


                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="row">


                                <div class="form-group">
                                    @Html.Label(@E_commerce_ASP.Resources.Views.Admin.Admin.AddToFavouriteList + "    ")

                                    @Html.DropDownListFor(x => x.RealId, ViewBag.UsersList as SelectList, @E_commerce_ASP.Resources.Views.Admin.Admin.SelectUser, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(x => x.RealId, "", new { @class = "text-danger" })

                                    <button type="submit" class="button ">@E_commerce_ASP.Resources.Views.Admin.Admin.Add</button>
                                </div>

                            </div>

                        }



                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-heart me-1"></i>
                        @E_commerce_ASP.Resources.Views.Admin.Admin.RemoveFromFavouriteList
                    </div>
                    <div class="card-body">
                        <!---->
                        @using (Html.BeginForm("RemoveListeFavoris", "Admin", FormMethod.Post,
                           new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                            <div class="row">


                                <div class="form-group">
                                    @Html.Label(@E_commerce_ASP.Resources.Views.Admin.Admin.RemoveFromFavouriteList + "    ")

                                    @Html.DropDownListFor(m => m.RealId, ViewBag.usersFavList as SelectList, @E_commerce_ASP.Resources.Views.Admin.Admin.SelectUser, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.RealId, "", new { @class = "text-danger" })

                                    <button type="submit" class="button ">@E_commerce_ASP.Resources.Views.Admin.Admin.Remove</button>
                                </div>

                            </div>

                        }


                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                @E_commerce_ASP.Resources.Views.Admin.Admin.FavouriteListUsers
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>@E_commerce_ASP.Resources.Views.Admin.Admin.Owner</th>
                            <th>Email</th>
                            <th>@E_commerce_ASP.Resources.Views.Admin.Admin.PhoneNumber</th>
                            <th>@E_commerce_ASP.Resources.Views.Admin.Admin.Nature</th>
                            <th>@E_commerce_ASP.Resources.Views.Admin.Admin.Address</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>@E_commerce_ASP.Resources.Views.Admin.Admin.Owner</th>
                            <th>Email</th>
                            <th>@E_commerce_ASP.Resources.Views.Admin.Admin.PhoneNumber</th>
                            <th>@E_commerce_ASP.Resources.Views.Admin.Admin.Nature</th>
                            <th>@E_commerce_ASP.Resources.Views.Admin.Admin.Address</th>
                        </tr>
                    </tfoot>
                    <tbody>

                        @foreach (var item in UsersL)
                        {

                            <tr>
                                @if (item.Nature.Equals("Particular"))
                                {
                                    <td>@item.FirstName @item.LastName</td>
                                }
                                else
                                {
                                    <td>@item.CompanyName</td>
                                }
                                <td>@item.Email</td>
                                <td>@item.PhoneNumber</td>
                                <td>@item.Nature</td>
                                <td>@item.Address</td>

                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>



