
@{
    Layout = null;
}
@using Microsoft.AspNet.Identity

@{

    E_commerce_ASP.Models.ApplicationDbContext db1 = new E_commerce_ASP.Models.ApplicationDbContext();
    IEnumerable<E_commerce_ASP.Models.Category> category = db1.Categories.ToList();

}


<!DOCTYPE html>

<html>
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='copyright' content=''>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title Tag  -->
    <title>Eshop - eCommerce HTML5 Template.</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="images/favicon.png">
    <!-- Web Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <!-- StyleSheet -->
    <!-- Magnific Popup -->
    @Styles.Render("~/Content/styles/magnific-popup.min.css")
    <!-- Font Awesome -->
    @Styles.Render("~/Content/styles/font-awesome.css")
    <!-- Fancybox -->
    @Styles.Render("~/Content/styles/jquery.fancybox.min.css")
    <!-- Themify Icons -->
    @Styles.Render("~/Content/styles/themify-icons.css")
    <!-- Nice Select CSS -->
    @Styles.Render("~/Content/styles/niceselect.css")
    <!-- Animate CSS -->
    @Styles.Render("~/Content/styles/animate.css")
    <!-- Flex Slider CSS -->
    @Styles.Render("~/Content/styles/flex-slider.min.css")
    <!-- Owl Carousel -->
    @Styles.Render("~/Content/styles/owl-carousel.css")
    <!-- Slicknav -->
    @Styles.Render("~/Content/styles/slicknav.min.css")
    <!-- Eshop StyleSheet -->
    @Styles.Render("~/Content/styles/reset.css")
    @Styles.Render("~/Content/styles/style.css")
    @Styles.Render("~/Content/styles/responsive.css")
    <!-- Bootstrap -->
    @Styles.Render("~/Content/styles/bootstrap.css")
    <!-- Jquery -->
    @Scripts.Render("~/bundles/jquery")

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

    <style>

        .tag-results {
            display: flex;
            flex-direction: row;
        }
    </style>

</head>
<body class="js">
    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- End Preloader -->
    <!-- Header -->
    <header class="header shop">

        <div class="middle-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-12">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="/"><img src="~/Content/images/logo.png" alt="logo"></a>
                        </div>
                        <!--/ End Logo -->
                        <!-- Search Form -->
                        <div class="search-top">
                            <div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
                            <!-- Search Form -->
                            <div class="search-top">
                                @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "search-form" }))
                                {
                                    <input placeholder="@E_commerce_ASP.Resources.Views.Shared._HomeLayout.SearchHere" name="search" id="search2" autocomplete="off" />
                                    <div id="result2" class="tag-results"></div>
                                    <button value="search" type="submit"><i class="ti-search"></i></button>
                                }
                            </div>
                            <!--/ End Search Form -->
                        </div>
                        <!--/ End Search Form -->
                        <div class="mobile-nav"></div>
                    </div>
                    <div class="col-lg-6 col-md-4 col-12">
                        <div class="search-bar-top">
                            <div class="search-bar">
                                <select onchange="location = this.value;">
                                    <option value="/" selected="selected">@E_commerce_ASP.Resources.Views.Shared._HomeLayout.AllCategory</option>
                                    @foreach (var item in category)
                                    {
                                        <option value="~/Category/Index/@item.Id">@item.Name</option>
                                    }
                                </select>
                                @using (Html.BeginForm("Search", "Home", FormMethod.Get))
                                {
                                    <input placeholder="@E_commerce_ASP.Resources.Views.Shared._HomeLayout.SearchHere" name="search" id="search" autocomplete="off" />
                                    <div id="result" class="tag-results"></div>
                                    <button type="submit" class="btnn"><i class="ti-search"></i></button>
                                }

                            </div>
                        </div>
                    </div>
                    @if (Request.IsAuthenticated)
                    {
                        if (ViewBag.user.Nature == "Particular")
                        {
                            if (@ViewBag.user.FirstName != null)
                            {
                                <div class="col-lg-2 col-md-3 col-6 m-auto">
                                    @E_commerce_ASP.Resources.Views.Shared._HomeLayout.Hello @ViewBag.user.FirstName @ViewBag.user.LastName !
                                </div>
                            }
                            else
                            {
                                <div class="col-lg-2 col-md-3 col-6 m-auto">
                                    @E_commerce_ASP.Resources.Views.Shared._HomeLayout.Hello @ViewBag.user.Email !
                                </div>
                            }

                        }
                        else
                        {
                            if (@ViewBag.user.CompanyName != null)
                            {
                                <div class="col-lg-2 col-md-3 col-6 m-auto">
                                    @E_commerce_ASP.Resources.Views.Shared._HomeLayout.Hello @ViewBag.user.CompanyName!
                                </div>
                            }
                            else
                            {
                                <div class="col-lg-2 col-md-3 col-6 m-auto">
                                    @E_commerce_ASP.Resources.Views.Shared._HomeLayout.Hello @ViewBag.user.Email !
                                </div>
                            }

                        }

                    }
                    <div class="col-lg-2 col-md-3 col-12">
                        <div class="right-bar">
                            <div class="sinlge-bar">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                        <a class="fa fa-user-circle-o single-icon icon__item nav-link" id="navbarDropdown" data-toggle="dropdown"
                                           aria-haspopup="true" aria-expanded="false" style="cursor:pointer">
                                        </a>
                                        @if (Request.IsAuthenticated)
                                        {
                                            string id = User.Identity.GetUserId();
                                            var user = db1.Users.Where(u => u.Id.Equals(id)).First();

                                            var realUser = db1.RealUsers.Where(u => u.RealId == user.RefId).First();

                                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                            {
                                                @Html.AntiForgeryToken()

                                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                    <li class="dropdown-item">
                                                        @* @if (User.IsInRole("Admin"))
                                            {
                                                @Html.ActionLink(@E_commerce_ASP.Resources.Views.Shared._HomeLayout.MyAccount, "Index", "Admin", routeValues: null, htmlAttributes: new { title = "Manage" })
                                            }
                                            else
                                            {*@
                                                        @Html.ActionLink(@E_commerce_ASP.Resources.Views.Shared._HomeLayout.MyAccount, "Index", "Proprietaire", new { Id = realUser.RealId }, new { title = "Manage" })
                                                        @*}*@
                                                    </li>
                                                    <li>
                                                        <hr class="dropdown-divider">
                                                    </li>
                                                    <li><a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">@E_commerce_ASP.Resources.Views.Home.Index.LogOff</a></li>
                                                </ul>
                                            }
                                        }
                                        else
                                        {
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <li class="dropdown-item">@Html.ActionLink(@E_commerce_ASP.Resources.Views.Shared._HomeLayout.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                                                <li class="dropdown-item">@Html.ActionLink(@E_commerce_ASP.Resources.Views.Shared._HomeLayout.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                                            </ul>
                                        }
                                    </li>
                                </ul>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Inner -->
        <div class="header-inner">
            <div class="container">
                <div class="cat-nav-head">
                    <div class="row">
                        <div class="col-12">
                            <div class="menu-area">
                                <!-- Main Menu -->
                                <nav class="navbar navbar-expand-lg">
                                    <div class="navbar-collapse">
                                        <div class="nav-inner">
                                            <ul class="nav main-menu menu navbar-nav">
                                                <li class="active">@Html.ActionLink(@E_commerce_ASP.Resources.Views.Shared._HomeLayout.Home, "Index", "Home")</li>
                                                @if (Request.IsAuthenticated)
                                                {
                                                    <li>@Html.ActionLink(@E_commerce_ASP.Resources.Views.Shared._HomeLayout.AddProducts, "AddProduct", "Proprietaire")</li>
                                                }
                                                @if (Request.IsAuthenticated && !User.IsInRole("Admin"))
                                                {

                                                    string id = User.Identity.GetUserId();
                                                    var user = db1.Users.Where(u => u.Id.Equals(id)).First();

                                                    var realUser = db1.RealUsers.Where(u => u.RealId == user.RefId).First();

                                                    <li>
                                                        <a href="#">Products<i class="ti-angle-down"></i></a>
                                                        <ul class="dropdown">
                                                            <li><a href="blog-single-sidebar.html">@Html.ActionLink(@E_commerce_ASP.Resources.Views.Shared._HomeLayout.MyProducts, "MyProducts", "Proprietaire", new { Id = realUser.RealId }, null)</a></li>
                                                            <li><a href="blog-single-sidebar.html">@Html.ActionLink(@E_commerce_ASP.Resources.Views.Shared._HomeLayout.ProductLogs, "Historique", "Proprietaire")</a></li>
                                                        </ul>
                                                    </li>
                                             
                                                    <li>@Html.ActionLink(@E_commerce_ASP.Resources.Views.Shared._HomeLayout.Complaints, "DeclareProblem", "Proprietaire")</li>
                                                }
                                                @if (User.IsInRole("Admin"))
                                                {
                                                    <li>@Html.ActionLink(@E_commerce_ASP.Resources.Views.Shared._HomeLayout.AdminDashboard, "DashBoard", "Admin")</li>
                                                }
                                                <li>@Html.ActionLink(@E_commerce_ASP.Resources.Views.Shared._HomeLayout.Statistics, "Statistique", "Home")</li>
                                                <li>@Html.ActionLink(@E_commerce_ASP.Resources.Views.Shared._HomeLayout.AboutUs, "About", "Home")</li>

                                                <li>
                                                    <a href="#">@E_commerce_ASP.Resources.Views.Shared._HomeLayout.Language<i class="ti-angle-down"></i></a>
                                                    <ul class="dropdown">
                                                        @foreach (var i in E_commerce_ASP.Models.GestionLanguages.AvailableLanguages)
                                                        {
                                                        <li>@Html.ActionLink(i.LanFullName, "ChangeLanguage", "Home", new { lang = i.LangCultureName }, null)</li>
                                                        }                                                        
                                                    </ul>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                                <!--/ End Main Menu -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Header Inner -->
    </header>
    <!--/ End Header -->

    @RenderBody()
    <!-- Start Footer Area -->
    <footer class="footer">
        <!-- Footer Top -->
        <div class="footer-top section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer about">
                            <div class="logo">
                                <a href="/"><img src="~/Content/images/logo2.png" alt="#"></a>
                            </div>
                            <p class="text">@E_commerce_ASP.Resources.Views.Home.Footer.shop</p>
                            <p class="call">@E_commerce_ASP.Resources.Views.Home.Footer.question<span><a href="tel:123456789">+0123 456 789</a></span></p>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-2 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer links">
                            <h4>Information</h4>
                            <ul>
                                <li><a href="#">@E_commerce_ASP.Resources.Views.Home.Footer.about</a></li>
                                <li><a href="#">Faqs</a></li>
                                <li><a href="#">@E_commerce_ASP.Resources.Views.Home.Footer.terms</a></li>
                                <li><a href="#">@E_commerce_ASP.Resources.Views.Home.Footer.contact</a></li>
                                <li><a href="#">@E_commerce_ASP.Resources.Views.Home.Footer.help</a></li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-2 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer links">
                            <h4>@E_commerce_ASP.Resources.Views.Home.Footer.services</h4>
                            <ul>
                                <li><a href="#">@E_commerce_ASP.Resources.Views.Home.Footer.payments</a></li>
                                <li><a href="#">@E_commerce_ASP.Resources.Views.Home.Footer.money</a></li>
                                <li><a href="#">@E_commerce_ASP.Resources.Views.Home.Footer.returns</a></li>
                                <li><a href="#">@E_commerce_ASP.Resources.Views.Home.Footer.shipping</a></li>
                                <li><a href="#">@E_commerce_ASP.Resources.Views.Home.Footer.privacy</a></li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer social">
                            <h4>@E_commerce_ASP.Resources.Views.Home.Footer.touch</h4>
                            <!-- Single Widget -->
                            <div class="contact">
                                <ul>
                                    <li>@E_commerce_ASP.Resources.Views.Home.Footer.fes</li>
                                    <li>@E_commerce_ASP.Resources.Views.Home.Footer.maroc</li>

                                </ul>
                            </div>
                            <!-- End Single Widget -->
                            <ul>
                                <li><a href="https://www.facebook.com/" target="_blank"><i class="ti-facebook"></i></a></li>
                                <li><a href="https://twitter.com/" target="_blank"><i class="ti-twitter"></i></a></li>
                                <li><a href="https://www.flickr.com/" target="_blank"><i class="ti-flickr"></i></a></li>
                                <li><a href="https://www.instagram.com/" target="_blank"><i class="ti-instagram"></i></a></li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- /End Footer Area -->
    <!-- ************************************Search************************-->
    <script>

        let timeout = null;

        document.getElementById('search').addEventListener('keyup', function (e) {

            clearTimeout(timeout);
            timeout = setTimeout(function () {
                LiveSearch()
            }, 800);
        });

        function LiveSearch() {
            //Get the input value
            let value = document.getElementById('search').value

            $.ajax({
                type: "POST",
                // You can use the absolute url eg www.site.com/MyControllerName/LiveTagSearch or the relative path live below
                url: "/Home/LiveSearch",
                // Attach the value to a parameter called search
                data: { search: value },
                datatype: "html",
                success: function (data) {
                    // Insert the returned search results html into the result element
                    $('#result').html(data);
                }
            });
        }
    </script>

    <script>
        document.getElementById('search2').addEventListener('keyup', function (e) {

            clearTimeout(timeout);
            timeout = setTimeout(function () {
                LiveSearch2()
            }, 800);
        });

        function LiveSearch2() {
            //Get the input value
            let value = document.getElementById('search2').value

            $.ajax({
                type: "POST",
                // You can use the absolute url eg www.site.com/MyControllerName/LiveTagSearch or the relative path live below
                url: "/Home/LiveSearch",
                // Attach the value to a parameter called search
                data: { search: value },
                datatype: "html",
                success: function (data) {
                    // Insert the returned search results html into the result element
                    $('#result2').html(data);
                }
            });
        }
    </script>


    <!-- Jquery -->
    @Scripts.Render("~/Content/js/jquery.min.js")
    @Scripts.Render("~/Content/js/jquery-migrate-3.0.0.js")
    @Scripts.Render("~/Content/js/jquery-ui.min.js")
    <!-- Popper JS -->
    @Scripts.Render("~/Content/js/popper.min.js")
    <!-- Bootstrap JS -->
    @Scripts.Render("~/Content/js/bootstrap.min.js")
    <!-- Slicknav JS -->
    @Scripts.Render("~/Content/js/slicknav.min.js")
    <!-- Owl Carousel JS -->
    @Scripts.Render("~/Content/js/owl-carousel.js")
    <!-- Magnific Popup JS -->
    @Scripts.Render("~/Content/js/magnific-popup.js")
    <!-- Waypoints JS -->
    @Scripts.Render("~/Content/js/waypoints.min.js")
    <!-- Countdown JS -->
    @Scripts.Render("~/Content/js/finalcountdown.min.js")
    <!-- Nice Select JS -->
    @Scripts.Render("~/Content/js/nicesellect.js")
    <!-- Flex Slider JS -->
    @Scripts.Render("~/Content/js/flex-slider.js")
    <!-- ScrollUp JS -->
    @Scripts.Render("~/Content/js/scrollup.js")
    <!-- Onepage Nav JS -->
    @Scripts.Render("~/Content/js/onepage-nav.min.js")
    <!-- Easing JS -->
    @Scripts.Render("~/Content/js/easing.js")
    <!-- Active JS -->
    @Scripts.Render("~/Content/js/active.js")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

