@model E_commerce_ASP.Models.Product
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@using Microsoft.AspNet.Identity
@{ 
    E_commerce_ASP.Models.ApplicationDbContext db = new E_commerce_ASP.Models.ApplicationDbContext();

    //string id = User.Identity.GetUserId();

    //var Authuser = db.Users.Where(u => u.Id.Equals(id)).First();

    var realUser = db.RealUsers.Find(Model.UserId);
 }


<div class="d-flex justify-content-center" style="width:100%">
    <div class="row mt-5 mx-auto d-flex">
        @if((Request.IsAuthenticated && Model.UserId == ViewBag.authenticatedUserId) || User.IsInRole("Admin"))
        {
            <style>
                .action_table {
                    height: 20rem;
                    color: var(--black5);
                    padding: 4rem 5rem;
                    background-color: rgba(255, 255, 255, 0.8);
                    box-shadow: 0px 2px 30px 10px rgba(0, 0, 0, 0.09);
                    border-radius: 0.5rem;
                }

                .card_table {
                    margin: auto auto;
                    color: var(--black5);
                    padding: 4rem 5rem;
                    background-color: rgba(255, 255, 255, 0.8);
                    box-shadow: 0px 2px 30px 10px rgba(0, 0, 0, 0.09);
                    border-radius: 0.5rem;
                }

                @@media screen and (max-width:768px) {
                    .card_table, .action_table {
                        width: 30rem;
                    }
                }

                @@media screen and (min-width:768px) and (max-width:992px) {
                    .card_table, .action_table {
                        width: 50rem;
                    }
                }

                @@media screen and (min-width:992px) and (max-width:1200px) {
                    .card_table, .action_table {
                        width: 50rem;
                    }
                }

                @@media screen and (min-width:1200px) {
                    .card_table, .action_table {
                        width: 100rem
                    }
                }
            </style>

            <div class="card card_table col-lg-6 col-md-6 col-12">
                <img class="card-img-top" src="~/Uploads/@Model.Image" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><b>@Model.Name</b></h5>
                    <p class="card-text">@Model.Description</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@E_commerce_ASP.Resources.Views.Product.Product.Price: <b>@Model.Price DHS</b></li>
                    <li class="list-group-item">
                        @E_commerce_ASP.Resources.Views.Product.Product.Address: <b>
                            @{
                                E_commerce_ASP.Models.User user = db.RealUsers.Where(u => u.RealId == Model.UserId).First();

                            }
                            @user.Address
                        </b>
                    </li>
                    <li class="list-group-item">
                        @E_commerce_ASP.Resources.Views.Product.Product.Category: <b>
                            @{
                                E_commerce_ASP.Models.Category category = db.Categories.Where(c => c.Id == Model.CategoryId).First();

                            }
                            @category.Name
                        </b>
                    </li>
                    @if (user.Nature == "Particular")
                    {
                <li class="list-group-item">@E_commerce_ASP.Resources.Views.Product.Product.Owner: <b>@user.FirstName @user.LastName</b></li>
                    }
                    else
                    {
                <li class="list-group-item">@E_commerce_ASP.Resources.Views.Product.Product.Owner: <b>@user.CompanyName</b></li>
                    }
                </ul>
            </div>

            <div class="card action_table col-lg-3 col-md-3 col-12 mx-auto align-items-center">
                <div class="mb-5">
                    @Html.ActionLink(@E_commerce_ASP.Resources.Views.Product.Product.EditProduct, "EditProduct", "Product", new { Id = Model.Id }, new { @class = "btn btn-success" })

                </div>
                <div>
                    @Html.ActionLink(@E_commerce_ASP.Resources.Views.Product.Product.DeleteProduct, "DeleteProduct", "Product", new { Id = Model.Id }, new { @class = "btn btn-danger" })

                </div>

            </div>
        }
        else
        {
    <div class="card card_table col-12">
        <img class="card-img-top" src="~/Uploads/@Model.Image" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><b>@Model.Name</b></h5>
            <p class="card-text">@Model.Description</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@E_commerce_ASP.Resources.Views.Product.Product.Price: <b>@Model.Price DHS</b></li>
            <li class="list-group-item">
                @E_commerce_ASP.Resources.Views.Product.Product.Address: <b>
                    @{
                        E_commerce_ASP.Models.User user = db.RealUsers.Where(u => u.RealId == Model.UserId).First();

                    }
                    @user.Address
                </b>
            </li>
            <li class="list-group-item">
                @E_commerce_ASP.Resources.Views.Product.Product.Category: <b>
                    @{
                        E_commerce_ASP.Models.Category category = db.Categories.Where(c => c.Id == Model.CategoryId).First();

                    }
                    @category.Name
                </b>
            </li>
            @if (user.Nature == "Particular")
            {
        <li class="list-group-item">@E_commerce_ASP.Resources.Views.Product.Product.Owner: <b>@user.FirstName @user.LastName</b></li>
            }
            else
            {
        <li class="list-group-item">@E_commerce_ASP.Resources.Views.Product.Product.Owner: <b>@user.CompanyName</b></li>
            }
        </ul>
        <div class="card-body">
            @Html.ActionLink(@E_commerce_ASP.Resources.Views.Product.Product.CheckOwnerInfo, "Index", "Proprietaire", new { Id = user.RealId }, new { @class = "card-link btn text-white" })
        </div>
    </div>
        }
    </div>

</div>


    @*<table>
            <tr>
                <td>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Price)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Price)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UserId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UserId)
                        </dd>


                        <dt>

                        </dt>
                        <dd>
                            Elyes Bouallegue
                        </dd>

                    </dl>
                </td>
                <td>
                    <div class="col-md-1"></div>
                    <div class="col-md-3 ">
                        <img src="~/Uploads/@Model.Image" style="width:300px;height:300px;margin-left:500px" />

                    </div>
                </td>
            </tr>
        </table>*@
</div>
