@model E_commerce_ASP.Models.Products 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div>
    <h4>Produit</h4>
    <hr />
    <table>
        <tr>
            <td>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Price)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.UserId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UserId)
                    </dd>

                  
                    <dt>
                        
                    </dt>
                    <dd>
                        Elyes Bouallegue
                    </dd>

                </dl>
            </td>
            <td>
                <div class="col-md-1"></div>
                <div class="col-md-3 ">
                    <img src="~/Uploads/@Model.Image" style="width:300px;height:300px;margin-left:500px" />

                </div>
            </td>
        </tr>
    </table>
</div>

<p>
    @Html.ActionLink("Retour", "Index","Home")
</p>
