@model E_commerce_ASP.Models.User
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<section id="contact-us" class="contact-us section">
    <div class="container">
        <div class="contact-head">
            <div class="row">
                <div class="col-lg-8 col-12">
                    <div class="form-main">
                        <div class="title">
                            <h3>Settings</h3>
                        </div>
                        @if (Model.Nature == "Particular")
                        {
                            using (Html.BeginForm("Settings", "Proprietaire", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.RealId)
                                @Html.HiddenFor(model => model.FullName)
                                @Html.HiddenFor(model => model.Nature)


                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
                                            @Html.TextBoxFor(m => m.FirstName)
                                            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
                                            @Html.TextBoxFor(m => m.LastName)
                                            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                            @Html.TextBoxFor(m => m.Email)
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label" })
                                            @Html.TextBoxFor(m => m.PhoneNumber)
                                            @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Address, new { @class = "control-label" })
                                            @Html.TextBoxFor(m => m.Address)
                                            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-group button">
                                            <button type="submit" class="btn ">Update Now</button>
                                        </div>
                                    </div>
                                </div>


                            }
                        }
                        else
                        {

                            using (Html.BeginForm("Settings", "Proprietaire", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                @Html.HiddenFor(model => model.RealId)
                                @Html.HiddenFor(model => model.Nature)
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.CompanyName, new { @class = "control-label" })
                                            @Html.TextBoxFor(m => m.CompanyName)
                                            @Html.ValidationMessageFor(m => m.CompanyName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                            @Html.TextBoxFor(m => m.Email)
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label" })
                                            @Html.TextBoxFor(m => m.PhoneNumber)
                                            @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.WebSite, new { @class = "control-label" })
                                            @Html.TextBoxFor(m => m.WebSite)
                                            @Html.ValidationMessageFor(m => m.WebSite, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.NumPatente, new { @class = "control-label" })
                                            @Html.TextBoxFor(m => m.NumPatente)
                                            @Html.ValidationMessageFor(m => m.NumPatente, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Address, new { @class = "control-label" })
                                            @Html.TextBoxFor(m => m.Address)
                                            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-group button">
                                            <button type="submit" class="btn ">Update now</button>
                                        </div>
                                    </div>
                                </div>


                            }
                        }

                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="single-head">
                        <div class="single-info">
                            <i class="fa fa-phone"></i>
                            <h4 class="title">Call us Now:</h4>
                            <ul>
                                <li>+212 0608129323</li>
                                <li>+212 0632493393</li>
                            </ul>
                        </div>
                        <div class="single-info">
                            <i class="fa fa-envelope-open"></i>
                            <h4 class="title">Email:</h4>
                            <ul>
                                <li><a href="mailto:info@yourwebsite.com">Info@ensaf.com</a></li>
                                <li><a href="mailto:info@yourwebsite.com">support@ensaf.com</a></li>
                            </ul>
                        </div>
                        <div class="single-info">
                            <i class="fa fa-location-arrow"></i>
                            <h4 class="title">Our Address:</h4>
                            <ul>
                                <li>Route Sefrou Fes</li>
                                <li>Kingdom of Morocco</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

